In [1]:
cd ../

c:\Users\eduar\Documents\usp\AMST\ml_timeseries_usp

In [2]:
from src.data.make_dataset import DatasetCreator
from src.data.make_hierarchical_dataset import DatasetHierarchicalAggregator
from src.data.refine_dataset import HierarchicalTimeSeriesOutlierRemover
from src.features.build_features import FeaturesBuilder
from src.config import load_config

2025-11-27 00:32:03,282 - INFO - Config carregado de c:\Users\eduar\Documents\usp\AMST\ml_timeseries_usp\config.yaml

In [3]:
config = load_config()

2025-11-27 00:32:05,676 - INFO - Config carregado de c:\Users\eduar\Documents\usp\AMST\ml_timeseries_usp\config.yaml

In [4]:
print(config)

{'debug': True, 'remove_outliers': False, 'ds_col': 'mes', 'y_col': 'venda_unidades', 'time_col': 'mes', 'target_col': 'venda_unidades', 'id_col': 'sku', 'outlier': {'remove': False, 'iqr_factor': 3.0, 'season_length': 12}, 'data': {'raw_path': 'data/raw/', 'interim_path': 'data/interim/'}, 'min_time_series_length': 42, 'columns_selected': ['mes', 'venda_unidades'], 'hierarchical_spec': [['total'], ['total', 'centro_distribuicao'], ['total', 'centro_distribuicao', 'regiao_loja'], ['total', 'centro_distribuicao', 'regiao_loja', 'clima_loja'], ['total', 'centro_distribuicao', 'regiao_loja', 'clima_loja', 'loja'], ['total', 'centro_distribuicao', 'regiao_loja', 'clima_loja', 'loja', 'produto'], ['total', 'centro_distribuicao', 'regiao_loja', 'clima_loja', 'loja', 'produto', 'material'], ['total', 'centro_distribuicao', 'regiao_loja', 'clima_loja', 'loja', 'produto', 'material', 'sku']], 'features': {'categorical_features': ['cor', 'tamanho', 'padronagem', 'construcao', 'marca', 'decote', 'detalhe'], 'numerical_features': ['estoque_unidades_inicio', 'estoque_unidades_fim', 'estoque_unidades', 'estoque_unidades_mediana', 'prop_dias_com_estoque', 'preco_unitario', 'desconto_percentual', 'desconto_absoluto', 'tem_preco_original', 'prop_dias_com_venda', 'total_observacoes_vendas', 'pedidos_m1', 'pedidos_m2', 'pedidos_m3', 'pedidos_m4', 'pedidos_m5', 'pedidos_m6', 'pedidos_m7'], 'external_features': ['weather_temperature', 'weather_preassure', 'weather_precipitation'], 'holiday_features': {'natal': {'dates': [datetime.date(2022, 12, 1), datetime.date(2023, 12, 1), datetime.date(2024, 12, 1), datetime.date(2025, 12, 1)], 'window_before': 3, 'window_after': 1}, 'black_friday': {'dates': [datetime.date(2022, 11, 1), datetime.date(2023, 11, 1), datetime.date(2024, 11, 1), datetime.date(2025, 11, 1)], 'window_before': 2, 'window_after': 1}, 'dia_maes': {'dates': [datetime.date(2022, 5, 1), datetime.date(2023, 5, 1), datetime.date(2024, 5, 1), datetime.date(2025, 5, 1)], 'window_before': 1, 'window_after': 0}, 'carnaval': {'dates': [datetime.date(2022, 2, 1), datetime.date(2023, 2, 1), datetime.date(2024, 2, 1), datetime.date(2025, 2, 1)], 'window_before': 1, 'window_after': 1}}}, 'models': {'LightGBM': {'fixed_params': {'objective': 'poisson', 'boosting_type': 'gbdt', 'metric': 'mape', 'bagging_freq': 1, 'force_col_wise': True, 'verbose': -1, 'n_jobs': -1, 'seed': 42, 'deterministic': True}, 'parameter_space': {'learning_rate': {'low': 0.01, 'high': 0.25, 'log': True}, 'n_estimators': {'low': 500, 'high': 5000, 'log': True}, 'num_leaves': {'low': 31, 'high': 512, 'log': True}, 'max_depth': {'low': -1, 'high': 15}, 'min_child_samples': {'low': 10, 'high': 200, 'log': True}, 'subsample': {'low': 0.7, 'high': 1.0}, 'colsample_bytree': {'low': 0.7, 'high': 1.0}, 'reg_alpha': {'low': '1e-3', 'high': 10.0, 'log': True}, 'reg_lambda': {'low': '1e-3', 'high': 10.0, 'log': True}}}}, 'modeling': {'mlforecast': {'freq': 'MS', 'h': 6, 'n_windows': 6, 'step_size': 1, 'time_col': 'mes', 'target_col': 'venda_unidades', 'id_col': 'sku', 'init_params': {'lags': [1, 2, 3, 4, 5, 6, 12], 'lag_transforms': {1: ['ExpandingMean'], 2: [{'RollingMean': {'window_size': 3}}, {'RollingMean': {'window_size': 6}}], 12: [{'RollingMean': {'window_size': 3}}]}, 'target_transforms': ['LocalBoxCox'], 'date_features': ['month', 'quarter', 'is_month_start', 'is_month_end']}, 'fit_params': {'static_features': ['unique_id']}, 'validation': {'metric': 'smape', 'n_trials': 80, 'timeout': 10800}}, 'lightgbm': {'early_stopping_rounds': 150, 'cv_folds': 5}}, 'dtypes': {'material': 'object', 'sku': 'object', 'produto': 'object', 'cor': 'object', 'tamanho': 'object', 'construcao': 'object', 'padronagem': 'object', 'marca': 'object', 'decote': 'object', 'detalhe': 'object', 'loja': 'object', 'centro_distribuicao': 'object', 'idade_loja': 'int', 'uf_loja': 'object', 'cidade_loja': 'object', 'regiao_loja': 'object', 'bairro_loja': 'object', 'clima_loja': 'object', 'perfil_loja': 'object', 'porte_loja': 'object', 'estoque_unidades_inicio': 'int', 'estoque_unidades_fim': 'int', 'estoque_unidades': 'int', 'estoque_unidades_mediana': 'float', 'prop_dias_com_estoque': 'float', 'venda_unidades': 'int', 'venda_valor_total': 'float', 'preco_atual': 'float', 'preco_original': 'float', 'diff_preco': 'float', 'etiqueta': 'object', 'mes': 'datetime', 'prop_dias_com_venda': 'float', 'total_observacoes_vendas': 'int', 'pedidos': 'int', 'pedidos_m1': 'int', 'pedidos_m2': 'int', 'pedidos_m3': 'int', 'pedidos_m4': 'int', 'pedidos_m5': 'int', 'pedidos_m6': 'int', 'pedidos_m7': 'int', 'pedidos_m8': 'int', 'pedidos_m9': 'int', 'pedidos_m10': 'int', 'pedidos_m11': 'int', 'pedidos_m12': 'int'}}

In [5]:
etl = DatasetCreator(config)

In [6]:

df = etl.run()

DEBUG: Iniciando pipeline de preparação de dados.
DEBUG: Iniciando correção de tipos de dados.
DEBUG: Correção de tipos concluída. Tipos atuais: mes                         datetime64[ns]
material                            object
sku                                 object
produto                             object
cor                                 object
tamanho                             object
construcao                          object
padronagem                          object
marca                               object
decote                              object
detalhe                             object
loja                                object
centro_distribuicao                 object
idade_loja                           int64
uf_loja                             object
cidade_loja                         object
regiao_loja                         object
bairro_loja                         object
clima_loja                          object
perfil_loja                         object
porte_loja                          object
estoque_unidades_inicio              int64
estoque_unidades_fim                 int64
estoque_unidades                     int64
estoque_unidades_mediana           float64
prop_dias_com_estoque              float64
venda_unidades                       int64
venda_valor_total                  float64
preco_atual                        float64
preco_original                     float64
diff_preco                         float64
etiqueta                            object
prop_dias_com_venda                float64
total_observacoes_vendas             int64
pedidos                              int64
pedidos_m1                           int64
pedidos_m2                           int64
pedidos_m3                           int64
pedidos_m4                           int64
pedidos_m5                           int64
pedidos_m6                           int64
pedidos_m7                           int64
pedidos_m8                           int64
pedidos_m9                           int64
pedidos_m10                          int64
pedidos_m11                          int64
pedidos_m12                          int64
dtype: object
DEBUG: Iniciando remoção de negativos em colunas de estoque.
DEBUG: Processando coluna estoque_unidades_inicio. Negativos antes: 8822
DEBUG: Processando coluna estoque_unidades_fim. Negativos antes: 8738
DEBUG: Processando coluna estoque_unidades. Negativos antes: 4274
DEBUG: Processando coluna estoque_unidades_mediana. Negativos antes: 7781
DEBUG: Processando coluna prop_dias_com_estoque. Negativos antes: 0
DEBUG: Remoção de negativos concluída.
DEBUG: Iniciando ajustes de preço para a criação de features.
DEBUG: Ajustes de preço concluídos.
DEBUG: Iniciando ajuste de decotes.
DEBUG: Ajuste de decotes concluído.
DEBUG: Criando nível 'total' na hierarquia.
DEBUG: Nível 'total' criado.
DEBUG: Iniciando remoção hierárquica de séries curtas.
Filtrando nível: ['total', 'centro_distribuicao', 'regiao_loja', 'clima_loja', 'loja', 'produto', 'material', 'sku'] (>= 42 obs)
   → 114,143 combinações → 13,549 mantidas (11.9%)
Filtrando nível: ['total', 'centro_distribuicao', 'regiao_loja', 'clima_loja', 'loja', 'produto', 'material'] (>= 42 obs)
   → 2,909 combinações → 2,909 mantidas (100.0%)
Filtrando nível: ['total', 'centro_distribuicao', 'regiao_loja', 'clima_loja', 'loja', 'produto'] (>= 42 obs)
   → 585 combinações → 585 mantidas (100.0%)
Filtrando nível: ['total', 'centro_distribuicao', 'regiao_loja', 'clima_loja', 'loja'] (>= 42 obs)
   → 326 combinações → 326 mantidas (100.0%)
Filtrando nível: ['total', 'centro_distribuicao', 'regiao_loja', 'clima_loja'] (>= 42 obs)
   → 13 combinações → 13 mantidas (100.0%)
Filtrando nível: ['total', 'centro_distribuicao', 'regiao_loja'] (>= 42 obs)
   → 8 combinações → 8 mantidas (100.0%)
Filtrando nível: ['total', 'centro_distribuicao'] (>= 42 obs)
   → 3 combinações → 3 mantidas (100.0%)
Filtrando nível: ['total'] (>= 42 obs)
   → 1 combinações → 1 mantidas (100.0%)

Limpeza concluída! Linhas finais: 582,213
DEBUG: Iniciando salvamento em data/interim/dataset.parquet
DEBUG: Dataset Salvo.
DEBUG: Iniciando carregamento de data/interim/
DEBUG: Dataset Carregado.
DEBUG: Shape final após limpeza: (582213, 48)

In [6]:
df = etl.load_intermediary()

DEBUG: Iniciando carregamento de data/interim/
DEBUG: Dataset Carregado.

In [7]:
feature_builder = FeaturesBuilder(df,config)
df = feature_builder.run()

In [11]:
aggregator = DatasetHierarchicalAggregator(config,df)
Y_df,S_df,tags = aggregator.run()

DEBUG: Iniciando pipeline de preparação de dados.
DEBUG: Iniciando agregação hierárquica.

2025-11-27 00:40:29,720 - INFO - Agregação hierárquica concluída.

DEBUG: Shape Y_df: (747480, 66), S_df: (17394, 13550)
total: 1 séries
total/centro_distribuicao: 3 séries
total/centro_distribuicao/regiao_loja: 8 séries
total/centro_distribuicao/regiao_loja/clima_loja: 13 séries
total/centro_distribuicao/regiao_loja/clima_loja/loja: 326 séries
total/centro_distribuicao/regiao_loja/clima_loja/loja/produto: 585 séries
total/centro_distribuicao/regiao_loja/clima_loja/loja/produto/material: 2909 séries
total/centro_distribuicao/regiao_loja/clima_loja/loja/produto/material/sku: 13549 séries
DEBUG: Iniciando salvamento em data/interim/
DEBUG: Dataset Salvo.
DEBUG: Iniciando salvamento em data/interim/
DEBUG: Dataset Salvo.
DEBUG: Salvando JSON em hierarchical_tags.joblib
tags salvo com joblib → 100% fiel ao original
Tamanho: 128.4 KB
DEBUG: Iniciando carregamento de data/interim/
DEBUG: Dataset Carregado.
DEBUG: Iniciando carregamento de data/interim/
DEBUG: Dataset Carregado.
DEBUG: Carregando tags de hierarchical_tags.joblib
DEBUG: Pipeline concluído.

In [18]:
if config['remove_outliers']:
    df = HierarchicalTimeSeriesOutlierRemover(config).run()
else:
    pass

In [13]:
Y_df[Y_df['unique_id']=='total']

   unique_id         ds       y
0      total 2022-01-01   26030
1      total 2022-02-01   31584
2      total 2022-03-01   26532
3      total 2022-04-01   20477
4      total 2022-05-01   19628
5      total 2022-06-01   20692
6      total 2022-07-01   19268
7      total 2022-08-01   16388
8      total 2022-09-01   21098
9      total 2022-10-01   28590
10     total 2022-11-01   26950
11     total 2022-12-01   51675
12     total 2023-01-01   24637
13     total 2023-02-01   22914
14     total 2023-03-01   24756
15     total 2023-04-01   25104
16     total 2023-05-01   24220
17     total 2023-06-01   30254
18     total 2023-07-01   37999
19     total 2023-08-01   47318
20     total 2023-09-01   47550
21     total 2023-10-01   44367
22     total 2023-11-01   56793
23     total 2023-12-01  102118
24     total 2024-01-01   32661
25     total 2024-02-01   25525
26     total 2024-03-01   36046
27     total 2024-04-01   43769
28     total 2024-05-01   51368
29     total 2024-06-01   51309
30     total 2024-07-01   43284
31     total 2024-08-01   43669
32     total 2024-09-01   46953
33     total 2024-10-01   45005
34     total 2024-11-01   50365
35     total 2024-12-01   94317
36     total 2025-01-01   46704
37     total 2025-02-01   47570
38     total 2025-03-01   46227
39     total 2025-04-01   39059
40     total 2025-05-01   47087
41     total 2025-06-01   41031
42     total 2025-07-01   41900

In [6]:
df.to_parquet('data/interim/dataset.parquet')

In [6]:
etl.save_intermediary(df)

DEBUG: Iniciando salvamento em data/interim/

2025-11-26 10:18:46,706 - ERROR - Erro ao salvar: ("Expected bytes, got a 'int' object", 'Conversion failed for column tamanho with type object')

In [6]:
Y_df

,mes,material,sku,produto,cor,tamanho,ordem_tamanho,construcao,padronagem,marca,...,estoque_unidades_mediana,prop_dias_com_estoque,venda_unidades,venda_valor_total,preco_medio_unitario,preco_unitario_min,preco_unitario_max,variabilidade_preco_unitario,prop_dias_com_venda,total_observacoes_vendas
0,2023-02-01,5cf422a5550730fb73deb1c1b8b07e4f,90495ec9877514f13f537bbec94c4559,x blusa,branco,m,3,malha,liso,9,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0
1,2023-02-01,5cf422a5550730fb73deb1c1b8b07e4f,90495ec9877514f13f537bbec94c4559,x blusa,branco,m,3,malha,liso,9,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0
2,2023-02-01,5cf422a5550730fb73deb1c1b8b07e4f,90495ec9877514f13f537bbec94c4559,x blusa,branco,m,3,malha,liso,9,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0
3,2023-02-01,5cf422a5550730fb73deb1c1b8b07e4f,90495ec9877514f13f537bbec94c4559,x blusa,branco,m,3,malha,liso,9,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0
4,2023-02-01,5cf422a5550730fb73deb1c1b8b07e4f,90495ec9877514f13f537bbec94c4559,x blusa,branco,m,3,malha,liso,9,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
977560,2025-07-01,f95a4171107a046aa89ede775a3eedd5,33970e50f6228cfdc52694f6d10e8c87,blusa,branco,p,2,malha,liso,9,...,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0
977561,2025-07-01,f95a4171107a046aa89ede775a3eedd5,33970e50f6228cfdc52694f6d10e8c87,blusa,branco,p,2,circular,liso,9,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0
977562,2025-07-01,f95a4171107a046aa89ede775a3eedd5,33970e50f6228cfdc52694f6d10e8c87,blusa,branco,p,2,malha,liso,9,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0
977563,2025-07-01,f95a4171107a046aa89ede775a3eedd5,33970e50f6228cfdc52694f6d10e8c87,blusa,branco,p,2,circular,liso,9,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0
977564,2025-07-01,f95a4171107a046aa89ede775a3eedd5,33970e50f6228cfdc52694f6d10e8c87,blusa,branco,p,2,malha,liso,9,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0